header{
    text-align: center;
    color: seagreen;
    font-family: Helvetica, Arial, sans-serif;
    margin: 1px;
}
.nav-item { 
   margin: 10px;
}
.portfolio-link{
    color: lightgreen;
    padding: 10px;
    background-color: darkslategrey;
    margin: auto;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
}
body{
    background-image: url("https://www.wallpaperflare.com/static/689/20/945/web-development-minimalism-text-web-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div{
    text-align: center;
    color: lightgoldenrodyellow;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
}
.self-photo{
    max-width: 15%;
    height: auto;
}

.about-me{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 18px;
}

.wordle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    padding: 2em;

}

.example-img{
    width:25%;
    margin:auto;
}

.befake{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    padding: 2em;
}


